torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
transformers
python-box
einops
omegaconf
pytorch_lightning
lightning
addict
timm
fast-simplification
trimesh
open3d
pyrender
huggingface_hub
numpy==1.26.4
scipy
matplotlib
plotly
pyyaml
Pillow
psutil
